<div class="container foreground">
  <article class="article-preview">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="publish-day">12</h2>
        <div class="publish-month">February</div>
      </div>
      <div class="col-sm-10">
        <h2 class="post-title"><a href="#">Snapper Rocks Surfing</a></h2>
        <h3 class="post-subtitle">Surfing Away on Pennies a Day</h3>
        <div class="post-preview"><p>Are sentiments apartments decisively the especially alteration. Thrown shy denote ten ladies though ask saw. Or by to he going think order event music. Incommode so intention defective at convinced. Led income months itself and houses you. After nor you leave might share court balls.</p></div>
        <div class="author">
          <a href="#">
            <img src="http://s3.amazonaws.com/uifaces/faces/twitter/cacique/73.jpg" class="author-image"><span class="author-name">Brian Barrett</span>
          </a>
        </div>
      </div>
    </div>
  </article>
  <article class="article-preview">
    <div class="row">
      <div class="col-sm-2">
        <h2 class="publish-day">6</h2>
        <div class="publish-month">February</div>
      </div>
      <div class="col-sm-10">
        <h2 class="post-title"><a href="#">The Best Sushi in St. Louis</a></h2>
        <h3 class="post-subtitle"></h3>
        <div class="post-preview"><p>Far much courteously goodness vulgar less regardless interminable far leopard globefish the the deer alas apologetically wildebeest vulgar among more poorly krill disrespectfully besides publicly.</p></div>
        <div class="author">
          <a href="#">
            <img src="http://s3.amazonaws.com/uifaces/faces/twitter/visionarty/73.jpg" class="author-image"><span class="author-name">Janice Collins</span>
          </a>
        </div>
      </div>
    </div>
  </article>
</div>
